body{ 
    text-align: center; 
  }
  
  h1{color: rgb(255, 166, 0);
  background-color: rgba(0, 0, 0, 0.726);}
  h2{color: rgb(255, 166, 0);
    background-color: rgba(0, 0, 0, 0.726);}
  h3{color: aliceblue;
  background-color:rgba(0, 0, 0, 0.726);}
  h4{color:aliceblue}


 